<table>
  <thead>
    <tr>
      {{#each columns}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        {{#each ../columns}}
          <td>{{lookup ../this this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
